table.lwhCalendar {
	border-collapse:		collapse;
    position:               relative;
    width:                  100%;
    border:                 1px solid #003c54;
    table-layout:           fixed;
	empty-cells:			show;	
	background-color:		#ffffff;
}

table.lwhCalendar td {
	position:				relative;
	overflow:				hidden;
	border:					1px solid #999999;
    width:                  14%;
}

table.lwhCalendar td.subject {
	height:					28px;
}

table.lwhCalendar td.subject div {
	position:				relative;
	color: 					#797979;
    font-family:			Arial, Helvetica, sans-serif;
    font-size: 				18px;
    font-weight: 			400;
    letter-spacing: 		1px;
    margin:	 				0;
    /*
    text-transform: 		uppercase;
	*/
    height:					28px;
    line-height:            28px;
	text-align:				center;
    white-space:            nowrap;
}

table.lwhCalendar td.subject a.lwhCalendar-button {
	display:				inline-block;
	position:				absolute;

	cursor:					pointer;
    top:                    2px;
	width:					24px;
	height:					24px;
	
	background-image:		url(image/lwhCalendar/lwhCalendar-button.png);
	background-repeat:		no-repeat;
	text-decoration:		none;
}


table.lwhCalendar td.subject  a.lwhCalendar-button-nav-prev {
	background-position: 	-60px -30px;
	left: 					10px;
}

table.lwhCalendar td.subject a.lwhCalendar-button-nav-next {
	background-position: 	-90px -30px;
	right: 					10px;
}

table.lwhCalendar td.subject a.lwhCalendar-button-nav-today {
	background-position: 	-30px -30px;
	left: 					40px;
}


table.lwhCalendar td.subject select.lwhCalendar-select-month {
    font-size:              14px;
    border:                 1px solid #cccccc;
}

table.lwhCalendar td.subject input.lwhCalendar-select-year {
    font-size:              14px;
    border:                 1px solid #cccccc;
    width:                  40px;
    text-align:             center;
}

table.lwhCalendar td.subject a.lwhCalendar-removeall {
	display: 				inline-block;
	position:				absolute;
    top:                    2px;
	width:					22px;
	height:					22px;
	right:					40px;
	background: 			center center url(image/lwhCalendar/removeall.png) no-repeat;
	vertical-align:			middle;
}

table.lwhCalendar        td.head {
	color:					#2309C6;
	height:					30px;
	text-align:				center;
    width:                  14%;
}

table.lwhCalendar        td.head-weekend {
	color:					#F92222;
}

table.lwhCalendar 		td.date {
    width:                  14%;
	position:				relative;
}

table.lwhCalendar 		td.date div {
	position:				relative;
	display:				block;
    font-size:              12px;
	min-height:				40px;
}

table.lwhCalendar td.date-weekend div {
    background-color:       #FFFFFF;
}

table.lwhCalendar td.date-selected div {
    background-color:      #FCDDC4;
}

table.lwhCalendar td.date-today div {
    background-color:      #A8DEF7;
}

table.lwhCalendar  td.date div span.date-digi {
    color:                  black;
    font-weight:            bold;
}

table.lwhCalendar  td.date div span.date-digi-na {
    color:                  #5F6060;
    font-weight:            lighter;
}

table.lwhCalendar  td.date input.lwhCalendar-picker {
	position:				absolute;
	top:					0px;
	right:					0px;
	display:				none;
}

table.lwhCalendar  td.date:hover input.lwhCalendar-picker {
	display:				block;
}

table.lwhCalendar td.date-selected input.lwhCalendar-picker {
	display:				block;
}

table.lwhCalendar td.date-selected:hover input.lwhCalendar-picker {
	display:				block;
}
